$box: 1px 1px 2px 0 rgba(0,0,0,0.13),1px 2px 4px 0 rgba(0,0,0,0.08),0 0 4px 0 rgba(0,0,0,0.12)
$f: -webkit-flex
$light: 1px solid rgba(0,0,0,0.5)
.padding
    padding-left: 15%
    padding-right: 15%

.margins
    margin-left: 33%
    margin-right: 33%
.marginssmall
    margin-left: 15%
    margin-right: 15%
.center
    -webkit-justify-content: center
    -webkit-align-content: center
