//Main SASS
@import "reset.sass"
@import "commonvar.sass"

.data-content-center
	display:$f 
	width:100%
	height:100vh

#main-box
	box-shadow:$box
	height:35vh
	width:20vw
	margin:auto

#form
	width:100%
	@extend .marginssmall
	margin-top:10%


.line1
	width:14.5vw
	height:1px
	background-color:rgba(0,0,0,0.3)
	position:relative
	top:36px

.line1-1
	width:0vw
	height:2px
	background-color:blue
	position:relative
	top:-8px
	transition: width .3s linear

.line2-2
	width:0vw
	height:2px
	background-color:blue
	position:relative
	top:-10px
	transition: width .3s linear


input:hover ~ .line1-1
	width:14.5vw

input:hover ~ .line2-2
	width:14.5vw

.line2
	width:14.5vw
	height:1px
	background-color:rgba(0,0,0,0.3)
	position:relative
	top:34px
form
	
	p
		width:72%
		padding-left:5px
		height:4vh
		line-height: 4.5vh
		color:#C9C8C8
		font-weight: 400
		font-family: sans-serif
		position: relative
		top:-57px
		left:0px
		transition: top .3s linear

	input
		width: 72%
		height: 4vh
		border:none
		outline: none
input:hover ~ .email
	top:-64px
	color:blue
input:hover ~ .password
	top:-64px
	color:blue

.smt-btn:hover
	background-color:#E20404

.smt-btn
	color:white
	background-color:red 
	box-shadow:$box