/* line 2, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 7, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
body {
  line-height: 1rem; }

/* line 10, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
.wrapper, #wrapper {
  width: 100%; }

/* line 13, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 17, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
nav ul {
  list-style: none; }

/* line 20, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
blockquote, q {
  quotes: none; }

/* line 23, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 27, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent; }

/* line 35, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* line 40, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

/* line 46, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
del {
  text-decoration: line-through; }

/* line 49, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 53, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 57, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
input select {
  vertical-align: middle; }

/* line 59, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0; }

/* line 4, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/commonvar.sass */
.padding {
  padding-left: 15%;
  padding-right: 15%; }

/* line 8, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/commonvar.sass */
.margins {
  margin-left: 33%;
  margin-right: 33%; }

/* line 11, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/commonvar.sass */
.marginssmall {
  margin-left: 15%;
  margin-right: 15%; }

/* line 14, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/commonvar.sass */
.center {
  -webkit-justify-content: center;
  -webkit-align-content: center; }

/* line 4, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.data-content-center {
  display: -webkit-flex;
  width: 100%;
  height: 100vh; }

/* line 9, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
#main-box {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.13), 1px 2px 4px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  height: 35vh;
  width: 20vw;
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

/* line 23, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
#form {
  width: 100%;
  padding-left: 15%;
  margin-top: 15%; }

/* line 29, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.line1, .line2 {
  width: 14.5vw;
  height: 0.1vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: 36px; }

/* line 36, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.line2 {
  top: 34px; }

/* line 40, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.contain-line1-1, .contain-line2-2 {
  width: 14.5vw;
  position: relative;
  top: -4px;
  height: 0.3vh;
  display: -webkit-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 47, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.contain-line2-2 {
  top: -6px; }

/* line 52, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.line1-1 {
  width: 0vw;
  background-color: blue;
  transition: width 0.2s linear; }

/* line 57, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.line2-2 {
  width: 0vw;
  background-color: blue;
  transition: width 0.2s linear; }

/* line 63, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.inh1:hover ~ .contain-line1-1 > .line1-1, .inh1:hover ~ .contain-line2-2 > .line1-1 {
  width: 14.5vw; }

/* line 67, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.inh2:hover ~ .contain-line2-2 > .line2-2 {
  width: 14.5vw; }

/* line 73, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
form p {
  width: 72%;
  padding-left: 5px;
  height: 4vh;
  line-height: 4.5vh;
  color: #C9C8C8;
  font-weight: 400;
  font-family: sans-serif;
  position: relative;
  top: -61px;
  left: 0px;
  transition: top 0.2s linear; }
/* line 86, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
form input {
  width: 72%;
  height: 4vh;
  border: none;
  outline: none; }
/* line 91, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
form input[type="text"] {
  font-size: 18px;
  color: #C9C8C8; }
/* line 94, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
form input[type="password"] {
  font-size: 18px;
  color: #C9C8C8; }

/* line 98, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

/* line 103, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 110, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #ddd;
  border-radius: 30px; }

/* line 118, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

/* line 126, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: red;
  border-radius: 30px;
  transition: background 0.4s; }

/* line 132, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s; }

/* line 139, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196; }

/* line 142, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px; }

/* line 145, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.remember {
  position: relative;
  top: -35px;
  left: 65px; }

/* line 150, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.inh1:hover ~ .email {
  top: -64px;
  color: blue; }

/* line 153, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.inh2:hover ~ .password {
  top: -64px;
  color: blue; }

/* line 157, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.smt-btn:hover {
  background-color: #E20404; }

/* line 160, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
.smt-btn {
  color: #e1e1e1;
  background-color: red;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.13), 1px 2px 4px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.12); }

@media (max-width: 700px) {
  /* line 166, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  #main-box {
    width: 65vw;
    height: 65vh; }

  /* line 170, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  #form {
    margin-top: 6vh; }
    /* line 172, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
    #form p {
      top: -8vh; }

  /* line 174, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  .inh1:hover ~ .email {
    color: blue; }

  /* line 177, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  .inh2:hover ~ .password {
    color: blue; }

  /* line 180, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  .contain-line1-1, .contain-line2-2 {
    width: 50vw; }

  /* line 183, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  .line1, .line2 {
    width: 50vw; }
    /* line 186, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
    .line1 .contain-line2-2, .line2 .contain-line2-2 {
      width: 50vw; }

  /* line 189, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  .inh1:hover ~ .contain-line1-1 > .line1-1, .inh1:hover ~ .contain-line2-2 > .line1-1 {
    width: 50vw; }

  /* line 192, C:/Users/Gentry/Documents/GitHub/Input-box/assets/sass/main.sass */
  .inh2:hover ~ .contain-line2-2 > .line2-2 {
    width: 50vw; }
 }
